body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

header{
    background-color:indigo;
    width: 100%;
    color: white;
    display: flex;
    grid-column-gap: 33.3%;
    min-height: 100px;
    justify-content: center;
}

.nav a{
    float: right;
    color: white;
    text-decoration: none;
    padding: 50px 15px;
    margin-right: 20px;
    font-weight: bold;
}
header > h2{
    padding: 50px 15px;
}
footer{
 events
    display:flex;
    grid-column-gap: 30%;
    min-height: 100px;
    background-color:indigo;
    color: white;
}
footer > p , h4{
    padding: 30px 15px;
}
main{
    display: flex;
    grid-column-gap: 50%;
    min-height: 500px;
    padding-top: 15px;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}
  .gallery img{
    width: 100%;
    height: auto;
  }
  .center{
    font-size: 12px;
    text-align: center;
  }

    position: relative;
    font-size: 18px;
    font-style: italic;
}
.one{
    position: absolute;
    top: -50%;
}
.two{
    position: absolute;
    right: 5%;
    top: -50%;
}
 main
