body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    /* justify-content: row; */
    background-color: indigo;
    align-items: center;
    height: 20%;
    width: 100%;
    color: white;
}
/*new one*/
.nav{
    display: flex;
    margin-left: auto;
} 

.nav a{
   color: white;
   text-decoration: none;
   font-size: 24px;
   font-weight: bold;
   padding: 20px;
}

.container img{
   border-radius: 50%;
}

.container h3{
   font-size: 24px;
   color: white;
}

footer{
    display:flex;
    grid-column-gap: 30%;
    min-height: 100px;
    background-color:indigo;
    color: white;
}
/* footer > p , h4{
    padding: 30px 15px;
} */
.main{
    display: flex;
    grid-column-gap: 50%;
    min-height: 550px;
    padding-top: 15px;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}
  .gallery img{
    width: 100%;
    height: auto;
  }
  .center{
    font-size: 12px;
    text-align: center;
  }

